<%- include("partials/header.ejs") %>

<div style="background-color: rgba(0, 0, 0, 0.655); height: auto">
  <div class="container d-flex flex-column">
    <div class="paddingtop">
      <div class="d-flex" style="margin-right: auto">
        <form action="/ascend" method="post">
          <button
            type="submit"
            name="recentPostByTime"
            style="background-color: transparent"
            class="navforummavbutton roboto-condensed"
          >
            Latest Post
          </button>
        </form>

        <form action="/descend" method="post">
          <button
            type="submit"
            name="oldestPostByTime"
            style="background-color: transparent"
            class="navforummavbutton roboto-condensed"
          >
            Oldest Post
          </button>
        </form>
      </div>
      <div class="d-flex flex-column flex-md-row justify-content-around">
        <div class="posts">
          <% for(let post of listAllContent) { %>
          <div class="p-2" style="border-bottom: 1px solid white">
            <!--
                  <textarea  class="textareapost autoresizing" style="  width: 100%;"  readonly  id="title/textarea>-->
            <p style="color: white"><%- post.post %></p>
            <!--id="title<%#=post.id%>"-->
            <p style="color: white">
              Posted By:
              <span style="color: #d83232"> <%- post.display_name %></span>
            </p>
            <p style="color: white"><%= post.created_at %></p>
            <div style="display: flex; align-items: center">
              <form action="/post-reaction" method="post">
                <input type="hidden" name="post_id" value="<%= post.id %>" />
                <input type="hidden" name="reaction" value="like" />
                <button
                  id="likeButton<%= post.id %>"
                  class="postButton <%= post.user_reaction === 'like' ? 'reaction-color' : '' %>"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                  >
                    <path
                      fill="currentColor"
                      d="M13.12 2.06L7.58 7.6c-.37.37-.58.88-.58 1.41V19c0 1.1.9 2 2 2h9c.8 0 1.52-.48 1.84-1.21l3.26-7.61C23.94 10.2 22.49 8 20.34 8h-5.65l.95-4.58c.1-.5-.05-1.01-.41-1.37c-.59-.58-1.53-.58-2.11.01M3 21c1.1 0 2-.9 2-2v-8c0-1.1-.9-2-2-2s-2 .9-2 2v8c0 1.1.9 2 2 2"
                    ></path>
                  </svg>
                </button>
              </form>
              <span style="color: white"><%= post.likes %></span>
              <form action="/post-reaction" method="post">
                <input type="hidden" name="post_id" value="<%= post.id %>" />
                <input type="hidden" name="reaction" value="dislike" />
                <button
                  id="dislikeButton<%= post.id %>"
                  class="postButton <%= post.user_reaction === 'dislike' ? 'reaction-color' : '' %>"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                  >
                    <path
                      fill="currentColor"
                      d="M3.616 15q-.627 0-1.122-.494T2 13.385v-1.231q0-.137.028-.298q.028-.162.084-.298l2.73-6.473q.206-.462.693-.773Q6.02 4 6.538 4h8.192q.671 0 1.143.472t.472 1.143v8.714q0 .323-.133.628t-.351.522l-5.156 5.112q-.221.215-.493.27t-.517-.059t-.35-.373t-.04-.579l1.03-4.85zM19.385 4q.67 0 1.143.472q.472.472.472 1.144v7.769q0 .67-.472 1.143q-.472.472-1.143.472h-.423q-.671 0-1.144-.472t-.472-1.144V5.597q0-.671.472-1.133Q18.291 4 18.962 4z"
                    ></path>
                  </svg>
                </button>
              </form>

              <span style="color: white"><%= post.dislikes %></span>
              <button
                id="commentButton<%= post.id %>"
                class="comment postButton <%= post.user_reaction === 'comment' ? 'reaction-color' : '' %>"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                >
                  <path
                    fill="currentColor"
                    d="M11.953 2.25c-2.317 0-4.118 0-5.52.15c-1.418.153-2.541.47-3.437 1.186c-.92.736-1.35 1.693-1.553 2.9c-.193 1.152-.193 2.618-.193 4.446v.183c0 1.782 0 3.015.2 3.934c.108.495.278.925.545 1.323c.264.392.6.722 1.001 1.042c.631.505 1.375.81 2.254 1V21a.75.75 0 0 0 1.123.65c.586-.335 1.105-.7 1.58-1.044l.304-.221a22 22 0 0 1 1.036-.73c.844-.548 1.65-.905 2.707-.905h.047c2.317 0 4.118 0 5.52-.15c1.418-.153 2.541-.47 3.437-1.186c.4-.32.737-.65 1-1.042c.268-.398.438-.828.546-1.323c.2-.919.2-2.152.2-3.934v-.183c0-1.828 0-3.294-.193-4.445c-.203-1.208-.633-2.165-1.553-2.901c-.896-.717-2.019-1.033-3.437-1.185c-1.402-.151-3.203-.151-5.52-.151z"
                  ></path>
                </svg>
              </button>
              <span style="color: white"><%= post.reply_count %></span>
              <button
                id="replyButton<%= post.id %>"
                class="reply roboto-condensed"
              >
                Reply
              </button>
            </div>
            <div id="replyInputBox<%= post.id %>" style="display: none">
              <form action="/add-reply" method="post">
                <input type="hidden" name="post_id" value="<%= post.id %>" />
                <div style="display: flex; flex-direction: column">
                  <textarea
                    rows="9"
                    style="
                      background-color: #0d0d0d;
                      color: white;
                      padding: 10px;
                    "
                    autofocus="true"
                    name="reply"
                    placeholder="Write a reply..."
                    required
                  ></textarea>

                  <button type="submit">Submit</button>
                </div>
              </form>
            </div>
            <div id="commentInputBox<%= post.id %>" style="display: none">
              <% for(let reply of post.replies) { %>
              <div
                class="p-2"
                style="border-top: 1px solid white; margin-left: 20px"
              >
                <p style="color: white"><%- reply.comment_post %></p>
                <p style="color: white">
                  Posted By:
                  <span style="color: #d83232"> <%- reply.display_name %></span>
                </p>
                <p style="color: white"><%= reply.created_at %></p>
              </div>
              <div
                style="display: flex; align-items: center; margin-left: 20px"
              >
                <form action="/post-reaction" method="post">
                  <input
                    type="hidden"
                    name="comment_post_id"
                    value="<%= reply.id %>"
                  />
                  <input type="hidden" name="reaction_comment" value="like" />
                  <button
                    class="postButton <%= reply.user_reaction === 'like' ? 'reaction-color' : '' %>"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="20"
                      height="20"
                      viewBox="0 0 24 24"
                    >
                      <path
                        fill="currentColor"
                        d="M20.385 9q.627 0 1.12.494T22 10.616v1.23q0 .137-.028.298q-.028.162-.083.298l-2.731 6.474q-.206.461-.693.773q-.486.311-1.003.311H9.269q-.671 0-1.143-.472t-.472-1.144V9.672q0-.323.133-.628t.351-.522l5.156-5.112q.222-.215.494-.27t.516.059t.35.373q.108.258.04.579L13.665 9zM4.615 20q-.67 0-1.143-.472Q3 19.056 3 18.385v-7.77q0-.67.472-1.143Q3.944 9 4.616 9h.423q.67 0 1.143.472q.472.472.472 1.144v7.788q0 .671-.472 1.133Q5.71 20 5.039 20z"
                      ></path>
                    </svg>
                  </button>
                  <span style="color: white"><%= reply.likes %></span>
                </form>

                <form action="/post-reaction" method="post">
                  <input
                    type="hidden"
                    name="comment_post_id"
                    value="<%= reply.id %>"
                  />
                  <input
                    type="hidden"
                    name="reaction_comment"
                    value="dislike"
                  />
                  <button
                    class="postButton <%= reply.user_reaction === 'dislike' ? 'reaction-color' : '' %>"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="20"
                      height="20"
                      viewBox="0 0 24 24"
                    >
                      <path
                        fill="currentColor"
                        d="M3.616 15q-.627 0-1.122-.494T2 13.385v-1.231q0-.137.028-.298q.028-.162.084-.298l2.73-6.473q.206-.462.693-.773Q6.02 4 6.538 4h8.192q.671 0 1.143.472t.472 1.143v8.714q0 .323-.133.628t-.351.522l-5.156 5.112q-.221.215-.493.27t-.517-.059t-.35-.373t-.04-.579l1.03-4.85zM19.385 4q.67 0 1.143.472q.472.472.472 1.144v7.769q0 .67-.472 1.143q-.472.472-1.143.472h-.423q-.671 0-1.144-.472t-.472-1.144V5.597q0-.671.472-1.133Q18.291 4 18.962 4z"
                      ></path>
                    </svg>
                  </button>
                  <span style="color: white"><%= reply.dislikes %></span>
                </form>
              </div>
              <% } %>
            </div>

            <% } %>
          </div>
          <div class="p-5">
            <a href="/forum"
              ><button class="buttonfontsize postButton">Add Post?</button></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include("partials/footer.ejs") %>
