<!DOCTYPE html>
<html>
  <head>
    <title>Join Convo</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bungee&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" type="text/css" href="css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
  </head>

  <!-- <div class="container_outer_img">
            <span cursor:pointer; onmouseover="openNav()" class="navhover"><img src="images/navarrow.svg"></span>
        </div>-->
  <nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"
        ><img
          src="/images/110623bcd586fd570536803d7413fc13 1.png"
          width="200px"
          class="img-fluid"
          alt=""
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="offcanvas offcanvas-end"
        style="background-color: #0d0d0d"
        tabindex="-1"
        id="offcanvasNavbar"
        aria-labelledby="offcanvasNavbarLabel"
      >
        <div class="offcanvas-header">
          <h5
            class="offcanvas-title bungee-regular"
            style="color: white"
            id="offcanvasNavbarLabel"
          >
            ZombieSlayers
          </h5>
          <button
            type="button"
            class="btn-close btn-close-white"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link roboto-condensed" aria-current="page" href="/"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link roboto-condensed" href="/survivors"
                >Survivors</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link roboto-condensed" href="/specialinfected"
                >Special Infected</a
              >
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link roboto-condensed" href="/community">
                Community
              </a>
            </li>
            <% if (currentUser) { %>
            <li class="nav-item">
              <a class="nav-link roboto-condensed" href="/login">
                Welcome <span style="color: #d83232"><%- currentUser %></span>,
                Logout?
              </a>
            </li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <body
    style="
      background-image: url(&quot;/images/billionsofzombies.jpg&quot;);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top;
    "
  >
    <div style="background-color: rgba(0, 0, 0, 0.655); height: auto">
      <div class="container d-flex flex-column">
        <div class="paddingtop">
          <div class="d-flex" style="margin-right: auto">
            <form action="/ascend" method="post">
              <button
                type="submit"
                name="recentPostByTime"
                style="background-color: transparent"
                class="navforummavbutton roboto-condensed"
              >
                Latest Post
              </button>
            </form>

            <form action="/descend" method="post">
              <button
                type="submit"
                name="oldestPostByTime"
                style="background-color: transparent"
                class="navforummavbutton roboto-condensed"
              >
                Oldest Post
              </button>
            </form>
          </div>
          <div class="d-flex flex-column flex-md-row justify-content-around">
            <div class="posts">
              <% for(let user of listUsers) {%>
              <div class="p-2" style="border-bottom: 1px solid white">
                <!--
                  <textarea  class="textareapost autoresizing" style="  width: 100%;"  readonly  id="title/textarea>-->
                <p style="color: white"><%- user.post %></p>
                <!--id="title<%#=post.id%>"-->
                <p style="color: white">
                  Posted By:
                  <span style="color: #d83232"> <%- user.display_name %></span>
                </p>
                <p style="color: white"><%=user.created_at%></p>
                <form action="/like-post" method="post">
                  <input type="hidden" name="post_id" value="<%= user.id %>" />
                  <button
                    type="submit"
                    style="
                      background-color: transparent;
                      border: none;
                      color: white;
                    "
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="20"
                      height="20"
                      viewBox="0 0 24 24"
                    >
                      <path
                        fill="currentColor"
                        d="M13.12 2.06L7.58 7.6c-.37.37-.58.88-.58 1.41V19c0 1.1.9 2 2 2h9c.8 0 1.52-.48 1.84-1.21l3.26-7.61C23.94 10.2 22.49 8 20.34 8h-5.65l.95-4.58c.1-.5-.05-1.01-.41-1.37c-.59-.58-1.53-.58-2.11.01M3 21c1.1 0 2-.9 2-2v-8c0-1.1-.9-2-2-2s-2 .9-2 2v8c0 1.1.9 2 2 2"
                      ></path>
                    </svg>
                  </button>
                </form>

                <span style="color: white">0</span>
                <form action="/dislike-post" method="post">
                  <input type="hidden" name="post_id" value="<%= user.id %>" />
                  <button
                    style="
                      background-color: transparent;
                      border: none;
                      color: white;
                    "
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="20"
                      height="20"
                      viewBox="0 0 24 24"
                    >
                      <path
                        fill="currentColor"
                        d="M3.616 15q-.627 0-1.122-.494T2 13.385v-1.231q0-.137.028-.298q.028-.162.084-.298l2.73-6.473q.206-.462.693-.773Q6.02 4 6.538 4h8.192q.671 0 1.143.472t.472 1.143v8.714q0 .323-.133.628t-.351.522l-5.156 5.112q-.221.215-.493.27t-.517-.059t-.35-.373t-.04-.579l1.03-4.85zM19.385 4q.67 0 1.143.472q.472.472.472 1.144v7.769q0 .67-.472 1.143q-.472.472-1.143.472h-.423q-.671 0-1.144-.472t-.472-1.144V5.597q0-.671.472-1.133Q18.291 4 18.962 4z"
                      ></path>
                    </svg>
                  </button>
                </form>

                <span style="color: white">0</span>
                <button
                  style="
                    background-color: transparent;
                    border: none;
                    color: white;
                  "
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                  >
                    <path
                      fill="currentColor"
                      d="M11.953 2.25c-2.317 0-4.118 0-5.52.15c-1.418.153-2.541.47-3.437 1.186c-.92.736-1.35 1.693-1.553 2.9c-.193 1.152-.193 2.618-.193 4.446v.183c0 1.782 0 3.015.2 3.934c.108.495.278.925.545 1.323c.264.392.6.722 1.001 1.042c.631.505 1.375.81 2.254 1V21a.75.75 0 0 0 1.123.65c.586-.335 1.105-.7 1.58-1.044l.304-.221a22 22 0 0 1 1.036-.73c.844-.548 1.65-.905 2.707-.905h.047c2.317 0 4.118 0 5.52-.15c1.418-.153 2.541-.47 3.437-1.186c.4-.32.737-.65 1-1.042c.268-.398.438-.828.546-1.323c.2-.919.2-2.152.2-3.934v-.183c0-1.828 0-3.294-.193-4.445c-.203-1.208-.633-2.165-1.553-2.901c-.896-.717-2.019-1.033-3.437-1.185c-1.402-.151-3.203-.151-5.52-.151z"
                    ></path>
                  </svg>
                </button>
                <span style="color: white">0</span>
              </div>
              <% } %>
              <div class="p-5">
                <a href="/forum"
                  ><button
                    style="
                      border: none;
                      background-color: #6e9731;
                      padding: 10px;
                      border-radius: 10px;
                      color: white;
                    "
                    class="buttonfontsize"
                  >
                    Add Post?
                  </button></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer class="container d-flex flex-column">
        <div>
          <div id="footerpar">
            <p class="text-center" style="color: rgba(255, 255, 255, 0.411)">
              2009 Valve, the Valve logo, Left 4 dead, the left 4 dead logo,
              steam, the steam logo, source, the source logo, and valve source
              are trademarks and/or registered tradmarks of valve corporation in
              the united states and other countires. Xbox, Xbox 360, xbox live
              are trademarks of the microsoft group of companies and are used
              under license from Microsoft. All other trademarls are properties
              of their respective companies.
            </p>
          </div>
        </div>

        <div class="d-flex justify-content-around flex-wrap">
          <div class="xbox">
            <img src="/images/XBOX 1.png" class="img-fluid p-3" alt="" />
          </div>
          <div class="source">
            <img src="/images/Source 1.png" class="img-fluid p-3" alt="" />
          </div>
          <div class="valve">
            <img src="/images/valve 1.png" class="img-fluid p-3" alt="" />
          </div>
          <div class="steam3">
            <img src="/images/Vector (1).png" class="img-fluid p-3" alt="" />
          </div>
        </div>
      </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
