<%- include("partials/header.ejs") %>
<div
  class="d-flex flex-column justify-content-center align-items-center"
  style="background-color: black; height: 100vh"
>
  <div class="formwidth">
    <form class="login" action="/register" method="POST">
      <h3 class="bungee-regular formtitle text-center" style="color: white">
        Get Registered!
      </h3>
      <span style="color: red"
        ><%- locals.error ? locals.error.duplicateInfo : "" %></span
      >

      <div class="mb-3">
        <label class="roboto-condensed" style="color: white" for="email"
          >Email</label
        >
        <input
          type="email"
          class="form-control"
          placeholder="Email"
          name="email"
          required
        />
        <span style="color: red"
          ><%- locals.error ? locals.error.email : "" %></span
        >
      </div>
      <div class="mb-3">
        <label class="roboto-condensed" style="color: white" for="username"
          >Username</label
        >
        <input
          type="text"
          placeholder="Username"
          name="username"
          id="username"
          required
          class="form-control"
        />
        <span style="color: red"
          ><%- locals.error ? locals.error.username : "" %></span
        >
      </div>
      <div class="mb-3">
        <label class="roboto-condensed" style="color: white" for="password"
          >Password</label
        >
        <input
          type="password"
          name="password"
          placeholder="Password"
          id="password"
          required
          class="form-control"
        />
        <span style="color: red"
          ><%- locals.error ? locals.error.password : "" %></span
        >
      </div>
      <p class="">
        <a
          class="linkbelowlogins roboto-condensed"
          style="text-decoration: none"
          href="/login"
          role="button"
          >Remember? Then Login!</a
        >
      </p>
      <div class="d-flex justify-content-around mt-3 text-white">
        <div>
          <a href="/auth/google" class="btn btn-light">Google</a>
        </div>
        <div>
          <a href="/auth/twitch" class="btn btn-light">Twitch</a>
        </div>
        <div>
          <a href="/auth/discord" class="btn btn-light">Discord</a>
        </div>
      </div>
      <button type="submit" class="btn btn-dark roboto-condensed">
        Register
      </button>
    </form>
  </div>
</div>

<%- include("partials/footer.ejs") %>
